default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  database: db/test.sqlite3

production:
  adapter: postgresql
  encoding: unicode
  # Renderが提供するデータベースURLをそのまま使用
  url: <%= ENV['DATABASE_URL'] %> 
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

cable:
  production:
    adapter: postgresql
    url: <%= ENV['DATABASE_URL'] %>
    
queue:
  production:
    adapter: postgresql
    url: <%= ENV['DATABASE_URL'] %> 
    pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

